<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
        <form action="/add_note/" method="get">
    <h1>Welcome to The Note Taking App</h1>
    <label for="">Title</label>
    <input name="title" type="text">
    <label for="">Body</label>
    <input name="body" type="text" name="" id="">
    <input type="submit">   
    </form>
</body>
</html>